.loginContainer{
  display: flex;
  flex-direction: column;
  min-height:calc(100vh - 92px);
  margin-top: 92px;
  justify-content: center;
  align-items: center;
  background-color: #FBEDE6;
}

.email{
  padding: 0 20px;
  width: 370px;
  height: 52px;
  background: #FFFFFF;
/* Container / Border */

  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
}

.loginContainer .btnSecondary{
  width: 370px;
  height: 52px;
  background: #FF886C;
  border-radius: 8px;
  margin: 12px 0px;
}
.loginContainer .btnPrimary{
  width: 370px;
  height: 52px;
  background: white;
  border-radius: 8px;
  margin: 12px 0px;
}
.loginContainer .btnPrimary div{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: large;
}

.loginContainer .btnSecondary div{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: large;
}

