.qCardsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: .5em;
}

.search-items {
  display: flex;
  align-items: center;
  gap: 1em;
}

.qheader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.qheader h1 {
  margin-bottom: 5px;
}

.qContainer {
  padding: 20px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  margin: 0 auto 1em;
  width: 100%;
}

.qCardsContainer {
  width: 100%;
}

.select {
  padding: 17px;
  background: white;
  height: auto;
}