.techContainer{
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  padding-bottom: 2em;
}

.imgContainer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

h1{
  font-size: xxx-large;
}
